.join-wrapper{
    width:100%;
    background: linear-gradient(to bottom, #f74d40, #f5c160);
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.join-body{
    width: 40%;
    background-color: white;
    height:50vh;
    border-radius: 20px;
    padding:10px;
    border: 3px dotted #f74d40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.join-title{
    font-size: 50px;
    font-weight:bolder;
    color: #f74d40;
    margin-bottom: 30px;
}
.join-body input{
    width: 60%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    border: 1px solid #f74d40;
}
.join-body a{
    width:65%;
}
.join-body button{
    width:100%;
    padding: 20px;
    background: linear-gradient(to bottom, #f74d40, #f5c160);
    font-size: 30px;
    color: white;
    font-weight:bolder;
    border: none;
    margin-top: 10px;
}
@media (max-width : 600px){
    .join-body{
        width: 90%;
        padding:10px;
    }
    .join-title{
        font-size: 30px;
        font-weight:bolder;
        color: #f74d40;
        margin-bottom: 30px;
    }
    .join-body input{
        width: 90%;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        outline: none;
        font-size: 20px;
        border: 1px solid #f74d40;
    }
    .join-body a{
        width:100%;
    }
    .join-body button{
        width:100%;
        padding: 20px;
        font-size: 20px;
        border: none;
        margin-top: 10px;
    }
}